body {
    background-color: rgb(12, 16, 23);
    font-family:'Gill Sans MT';
}
a {
    color: white;
    text-decoration: none;
}
.box1 {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #17182a;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 30px;
}
.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    padding: 80px;
    color: white;
}
.goose {
    font-size: 30px;
    color: rgb(255, 125, 186);
    border: 50px;
}
.login button {
    background-color: #333;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 70px;
    margin-top: 17px ;
    font-weight: bold;
}
.one {
    padding: 10px;
    font-weight: bolder;
}
.two {
    display: flex;
    color: white;
    gap: 20px;
    padding: 20px;
    font-size: 15px;
}
.six {
    font-size: 25px;
    padding: 10px;
}
.seven {
    font-size: 20px;
}
.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Getstarted button {
    align-items: center;
    background-color: #ac7ff0;
    border-radius: 15px;
    height: 55px;
    width: 150px;
    margin-top: 20px ;
    font-size: 15px;
    font-weight: bold;
}
.box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.box5 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.Ready {
    display: flex;
    color: white;
    flex-direction: column;
    font-size: 40px;
    padding: 20px;
    padding-top: 25px;
}
.box6 {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.box7 {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.project button {
    background-color: #232433;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 15px;
} 
.een button {
    color: rgb(255, 163, 209);
}
.twee button {
    color: rgb(248, 199, 51);
}
.drie button {
    color: rgb(181, 103, 237);
}
.vier button {
    color: rgb(123, 209, 247);
}
.vijf button {
    color: rgb(89, 202, 251);
}
.zes button {
    color: rgb(250, 126, 98);
}
.zeven button {
    color: #b9b9b9;
}
.box8 {
    padding: 20px;
}
.box9 {
    display: flex;
    justify-content: center;
}
.plaatjes {
    justify-content: center;
    display: flex;
    height: 300px;
}
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 163, 209);
    border-radius: 40px;
    font-size: 20px;
    padding: 10px;
}
.box10 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    padding-top: 60px;
    padding-bottom: 1px;
}
.pinkyellow {
    justify-content: center;
    display: flex;
    height: 30px;
}
.box11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(59, 58, 70);
    font-size: 35px;
    font: bold;
}
.eleven{
    color: pink;
}
.box12 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    padding-top: 50px;
}
.workswith {
    color: white;
    align-items: center;
    padding: 30px;
}
.geelpaars {
    height: 40px;
    width: 140px;
    padding-bottom: 30px;
}
.blueorange {
    height: 80px;
    width: 150px;
}
.Workswith {   
    justify-content: center;
    display: flex;
    height: 150px;
}
.box13 {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.icon button {
    background-color: #232433;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    align-items: center;
    margin-top: 20px ;
    padding: 0px;
}
.img {
    height: 100px;
    width: 100px;
}

.icon img {
    height: 100px;
    width: 100px;
}
.box14 {
    display: flex;
    justify-content:center;
    padding-bottom: 60px;
    color: white;
    gap: 78px;
    font-size: 16px;
    border: none;
    margin-left: -10px;
}
.box15 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    padding-top: 120px;
}
.box16 {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.gezichten img {
    border-radius: 30px;
    height: 100px;
    width: 100px;
}
.regel {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 26px;
    gap: 20px;
    padding: 8px;
}
.star {
    width: 22px;
    height: 22px;
}

.box18 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 80px;
}
.container1 {
    background-color: #2c203f;
    width: 650px;
    height: 220px;
    border-radius: 17px;
}
.digest {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 37px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.web3 {
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.container2 {
    display: flex;
    padding: 30px;
    width: 500px;
    gap: 14px;
}
.email {
    background-color: #1b1631;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    height: 24px;
    width: 400px;
    padding: 13px;
}
.subscribe button {
    color: black;
    background-color: rgb(183, 123, 255);
    height: 50px;
    width: 140px;
    border-radius: 10px;
    font-size: 16px;
}
.web3 {
    color: #615d7a;
    font-size:26px;
}
.box19 {
    display: flex;
    justify-content: center;
    width: 800px;
}
.box20 {
    display: flex;
}
.press {
    margin-left: 240px;
    display: flex;
    color: white;
    font-size: 35px;
    font-weight: bold;
    gap: 50px
}
.geelpaars {
    align-items: center;
}
.seeall {
    display: flex;
    font-size: 16px;
    width: 200px;
    color: #65767e;
    margin-left: 390px;
    gap: 5px;
}
.box21 {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}
.png {
    height: 230px;
    width: 210px;
    border-radius: 10px;
}
.plaatje {
    width: 130px;
    padding: 10px;
    border-radius: 10px;
}
.decrypt {
    background-color: rgb(132, 255, 255);
}
.decrypt-plaatje {
    padding: 9px;
}
.blockworks {
    background-color: rgb(255, 184, 219);
}
.techcrunch {
    background-color: rgb(255, 255, 153);
}
.text {
    font-size: 15px;
    font-weight: bolder;
    padding: 10px;
    margin-top: -17px;
}
.Text {
    font-size: 13px;
    padding: 5px;
}
.read {
    padding: 10px;
    font-size: 10px;
    font-weight: bolder;
}
.arrow {
    width: 10px;
}
.pijl {
    margin-left: 125px;
}
.box22 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.podcasts {
    display: flex;
    color: white;
    font-size: 35px;
    font-weight: bold;
    gap: 50px;
    width: 700px;
}
.box23 {
    display: flex;
    justify-content: center;
    color: white;
    gap: 15px;
    padding-bottom: 50px;
}
.thepomp {
    margin-top: -20px;
}
.everything {
    margin-top: -20px;
}
.sticker {
    padding: 10px;
    width: 30px;
    height: 30px;
}
.gray {
    height: 220px;
    width: 210px;
    border-radius: 10px;
    background-color: #232433;
}
.ster3 {
    display: flex;
    justify-content: center;
    padding: 40px;
    height: 50px;
}
.box25 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    padding: 10px;
    padding-top: 100px;
}
.box26 {
    display: flex;
    justify-content: center;
    color: rgb(118, 135, 135);
    font-size: 30px;
}
.box27 {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 25px;
    padding-bottom: 120px;
}
.chat {
    display: flex;
    width: 180px;
    height: 55px;
    border-radius: 10px;
}
.idea {
    height: 35px;
    height: 35px;
    padding: 10px;
}
.geel {
    background-color: rgb(255, 221, 0);
}
.paars {
    background-color: rgb(226, 146, 255);
}
.telegram {
    padding-top: 10px;
    color: rgb(82, 73, 73);
    font-size: 15px;
    font-weight: bolder;
}
.hello {
    color: #676363;
    font-size: 13px;
}
.box28 {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #17182a;
}
.footer {
    display: flex;
    justify-content: center;
    font-size: 17px;
    gap: 40px;
    padding: 40px;
    color: white;
}
.legal {
    color: rgb(255, 221, 0);
}
.icons {
    display: flex;
    width: 35px;
    height: 35px;
    gap: 15px;
    padding-top: 33px;
}
.box29 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    padding-top: 80px;
}
.box30 {
    display: flex;
    justify-content: center;
    color: black;
    padding: 20px;
    gap: 20px;
}
.photo {
    margin-left: 30px;
    justify-content: center;
    display: flex;
    width: 100px;
    border-radius: 30px;
    padding: 15px;
}
.hero {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(253, 168, 182);  
}
.Hero {
    padding-left: 10px;
    font-size: 15px;
    font-weight: bolder;
}
.extra {
    font-size: 13px;
    padding-left: 10px;
}
.send-container {
    display: flex;
    border-radius: 30px;
    background-color: rgba(18, 30, 40, 1);
    width: 550px;
    height: 500px;
    margin: auto;
    border-style: double;
    border-color: rgba(42, 55, 68, 1);
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    color: rgba(61, 76, 91, 1);
    padding-bottom: 40px;
}
.pink-arrow {
    margin-left: 470px;
    margin-top: -20px;
}
.type {
    background-color: rgba(18, 30, 40, 1);
    border-style: double;
    border-color: rgba(42, 55, 68, 1);
    border-width: 2px;
    border-radius: 16px;
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.massage {
    width: 350px;
    height: 200px;
}
.sumbit {
    background-color: #ac7ff0;
    border-radius: 13px;
    height: 80px;
    width: 100px;
    margin-top: 15px ;
    margin-left: 400px;
    font-size: 15px;
    font-weight: bold;
}
.box34 {
    padding-bottom: 50px;
}








































